@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  background-color: #f8f8fb;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

.poppines {
  font-family: "Poppins", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.icon:hover path {
  fill: #FFF!important;
}

.icon:hover line {
  fill: #FFF!important;
}

.icon:hover circle {
  fill: #FFF!important;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.rmdp-week .rmdp-week-day {
  color: #000;
  font-weight: 300;
  background-color: #bbdec3 !important;
}

.rmdp-day.rmdp-today span {
  color: #000 !important;
  font-weight: 300;
  background-color: inherit !important;
}

.rmdp-day {
  margin-top: 10px;
}

.rmdp-range.start {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.rmdp-range.end {
  border-radius: 0 !important;
}

.rmdp-range {
  color: #000 !important;
  box-shadow: none !important;
  background-color: #bbdec3 !important;
}

.rmdp-arrow {
  border: solid #000 !important;
  border-width: 0 2px 2px 0 !important;
}

.rmdp-left:hover {
  color: #000 !important;
  background-color: #bbdec3 !important;
}

.rmdp-right:hover {
  color: #000 !important;
  background-color: #bbdec3 !important;
}

.rmdp-day :hover {
  background-color: #bbdec3 !important;
}

.rmdp-day-hidden,
.rmdp-day-hidden:hover span {
  visibility: hidden !important;
}

.rmdp-day-picker div {
  margin-right: 0px !important;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

